name: Helm Lint and Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/ISSUE_TEMPLATE/**
      - .github/workflows/cd.yaml
      - .github/workflows/update-cli.yaml
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - .github/ISSUE_TEMPLATE/**
      - .github/workflows/cd.yaml
      - .github/workflows/update-cli.yaml
  workflow_dispatch:

jobs:
  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.17.0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: Create kind cluster
        uses: helm/kind-action@v1

      - name: Run chart-testing
        run: ct lint-and-install --chart-dirs . --charts .